/* ESTILOS POPUP O VENTANA EMERGENTE */
/* Hace que el fondo se ponga oscuro */
.overlay {
    /* FONDO OSCURO */
    background-color: rgba(0, 0, 0, 0.3);
    /* PARA QUE ABARQUE TODA LA PANTALLA */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* PARA PODER CENTRAR LA VENTANA "popup" RESPECTO A LA VENTANA "overlay" */
    display: flex;
    /* PARA ALINEAR LOS ELEMENTOS DE FORMA VERTICAL */
    align-items: center;
    /* PARA ALINARLOS DE FORMA HORIZONTAL */
    justify-content: center;
    /* SE PUSO PARA POSICIONAR LA VENTANA ADELANTE DEL "slider" */
    z-index: 15;
    /* OCULTAMOS TODO, DESDE EL OVERLAY HASTA LOS ELEMENTOS HIJOS */
    visibility: hidden;
}

/* CUANDO EL OVERLAY TENGA LA CLASE ACTIVE QUE SE MUESTRE TODA LA VENTANA */
.overlay.active {
    visibility: visible;
    z-index: 200;
}

.popup {
    background-color: #f8f8f8;
    /* PARA PONER LA TRANSPARENCIA  */
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
    box-shadow: 0px 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 350px;
    /* ESTA PROPIEDAD NOS VA A PERMITIR QUE TODOS LOS CAMBIOS TENGAN UNA TRANSICION, UN CAMBIO DEL ESTADO*/
    transition: .5s ease all;
    /* PARA CAMBIAR LA ESCALA DE NUESTRA VENTANA, Cuando se cierre */
    transform: scale(.1);
    /* LA VENTANA VA ESTAR A OCULTA */
    opacity: 0;
}

/* PARA EL BOTON DE CERRAR */
.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    /* PARA QUE EL ENLACE ABARQUE TODO EL ESPACIO DISPONIBLE */
    display: block;
    /* Y DADO QUE USAMOS LA PROPIEDAD ANTERIOR PODEMOS USAR "text-align" PARA POSICIONAR EL ENLACE HACIA LA DERECHA*/
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
    margin-bottom: 10px;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    /* El opacity es parte de la animación */
    opacity: 0;
}

.popup form .contenedor-inputs {
    /* El opacity es parte de la animación */
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    /* Para que la fuente que esta dentro del input quede centrada verticalmente */
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    /* color: black; */
    background-color: #5E7DE3;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    /* PARA PODER DARLE ESE EFECTO DE ANIMACIÓN CUANDO APAREZCA */
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background-color: rgba(94, 125, 227, .9);
}

/* ANIMACIONES */

/* CON ESTO MOSTRAMOS LA VENTANA */
.popup.active {
    opacity: 1;
    transform: scale(1)
}

/* Con la propiedad forwards la animación se queda con sus ultimas propiedades, que en este caso son las del transform to */
.popup.popup.active h3 {
    animation: entradaTitulo 2s ease .5s forwards;
}

.popup.popup.active .contenedor-inputs {
    animation: entradaInputs 1s ease 1s forwards;
}

/* ANIMACIÓN */
/* Que la animación vaya de arriba hacia abajo */
@keyframes entradaTitulo {
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Parte nueva del login . Links de los formularios*/
.contenedor-tabs{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    
}

.contenedor-tabs::after{
    content: "";
    display: table;
    clear: both;
}

.contenedor-tabs li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(160,179,176,.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.contenedor-tabs li a:hover{
    background: darken(#1ab188,5%);
    color: black;
}

.contenedor-tabs .activo a{
    background: #1ab188;
    color: #fff;
}

/* Contenido del formulario */
.contenido-tab > div:last-child {
    display: none;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255,255,255,.5);
    transition: all 0.43s ease;
    backface-visibility: hidden;
    pointer-events: none;
    font-size: 16px;
    color: black;
}

label.req{
    margin: 2px;
    color: #1ab188;
}

label.activo {
    transform: translateY(40px);
    left: 2px;
    font-size: 14px;
    opacity: 0;
}

label.activo.req{
    opacity: 0;
    transform: scale(1);
    color: black;
}

label.highlight {
    color: black;
    /* color: #fff; */
}
/* FIXME: Este input afecta al que tenemos en el menu de iniciar sesión*/
.txtinput {
    font-size: 18px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 5px solid #a0b3b0;
    border-top: none;
    border-left: none;
    border-right: none;
    /* color: #fff; */
    color: black;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
}


input:focus{
    outline: none;
    border-color: #1ab188;
}

.contenedor-input {
    position: relative;
    margin-bottom: 30px;
}

.fila-arriba {
    content: "";
    display: table;
    clear: both;
}

.fila-arriba:after{
    content: "";
    display: table;
    clear: both;
}

.fila-arriba div{
    float: left;
    width: 48%;
    margin-right: 4%;
}

.fila-arriba div:last-child{
    margin: 0;
}

.button_registrar {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
    height: 40px;
    font-size: 16PX;
    /* background: #1ab188; */
    background-color: #5E7DE3;
    color: #fff;
    transition: all .5s ease;
    -webkit-appearance: none;
}

.button_registrar:hover:focus{
    background: darken(#1ab188,5%);
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}


