@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
/*  Estilo de las letras usadas*/

.header__a--fuente{
    font-weight:  bold;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    line-height: 34px;
    background-color: #EAEDED;
}

.contenido__h2--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight:  bold;
    font-size: 30px;
}

.contenido__p--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}

.widget__h2--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.producto-nombre--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.producto-precio{
    color: #FF4E00;
    font-weight: bold;
    display: block;
    padding: 5px;
}

.caja__h2--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
}

.caja--parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEDED;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

.contenedor {
    width: 100%;
    max-width: 90%;
    margin: 30px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:    "header    header    header"
                            "contenido contenido contenido"
                            "footer    footer    footer";
}

.menu {
    grid-area: header;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.menu__lista {
    list-style: none;
    display: flex;
    letter-spacing: -0.5;
}

.menu-link a{
    text-decoration: none;
}

.menu-link {
    padding-left: 10px;
    line-height: 34px;
}

.contenido{
    grid-area: contenido;
    margin-bottom: 50px;
}

.contenido__mas-informacion{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.contenido__mas-informacion--texto{
    width: 60%;
    text-align: center;
}

.contenido__mas-informacion--texto .titulo1{
    margin: 0px;
}

.contenido__mas-informacion--texto .titulo2{
    margin-bottom: 20px;
    text-indent: 40px;
}

.contenido__button{
    margin-top: 20px;
    text-align: center;
}

.contenido__button .button-info{
    padding: 0 10px;
    background-color: #4F3A3A;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer; 
    height: 35px;
    width: 150px;
    transition: .3s ease all;
}

.contenido__button .button-info:hover{
    background: rgba(133,71,71,1);
    color: whitesmoke;
}

.sidebar{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    width: 40%;
}

.widget-productos .producto-caja{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    margin-bottom: 50px;
}

.producto{
    /* width: 200px; */
    /* height: 100px; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-align: center;
    padding: 30px;
    /* line-height: 0; */
    /* overflow: hidden; */
    /* margin-bottom: 50px; */
    margin-right: 20px;
}

.producto__img{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 160px;
    /* height: 200px; */
    height: 150px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
    aspect-ratio: 0.5;
}

.input-agregar{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #333;
    padding: 5px;
    transition: .3s ease all;
}

.input-agregar:hover{
    background-color: #FF4E00;
    color: #fff;
}

.widget-beneficios{
    padding: 20px;
}

.widget-beneficios .widget-caja{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.caja{
    width: 250px;
    height: 120px;
    text-align: center;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.footer{
    grid-area: footer;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.footer .footer_logo{
    display: flex;
    justify-content: center;
}

.footer .footer_logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px;
}

.footer .footer_logo a i{
    margin-right: 5px;
}

/* Iconos */
.fa-dollar-sign{
    color: green;
    font-size: 20px;
}

.fa-credit-card{
    color: black;
    font-size: 20px;
}

.fa-shipping-fast{
    color: blue;
    font-size: 20px;
}

.fa-facebook{
    color: blue;
    font-size: 30px;
}

.fa-twitter{
    color: #1ca6d6;
    font-size: 30px;
}

.fa-instagram{
    color: #ae31a4;
    font-size: 30px;
}

.fa-shopping-cart{
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 460px){
    
    .caja{
        margin: 10px 0;
        height: auto;
    }

    .footer .footer_logo{
        flex-direction: column;
        align-items: center;
    }

    .footer .footer_logo a{
        padding: 10px;
    }
}

@media screen and (max-width: 766px){

    body {
        /* Se le indica al "body" que tenga una distancia de "6em" con el viemport */
        padding-top: 2em;
    }

    .header__a--fuente{
        background-color: white;
    }

    .menu-logo-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-items,
    .menu {
        display: block;
        flex-direction: column;
    }

    .menu-items {
        display: none;
        align-items: center;
        margin-top: 10px;
    }

    .menu__lista{
        flex-direction: column;
        align-items: center;
    }

    .menu-link {
        padding-right: 0px;
    }

    .menu-ToggleShow {
        display: block;
    }

    .menu-toggle {
        align-self: flex-end;
        display: initial;
        cursor: pointer;
        padding: 5px 10px;
        border: #BDBDBD solid 1px;
        border-radius: 5px;
    }

    .fa-bars{
        font-size: 20px;
    }

    .menu-toggle:hover{
        transition: all 5s ease-out;
        border: black solid 1px;
    }

    .sticky {
        position: fixed;
        top: 0;
        font-weight: 500;
        width: 100%;
        z-index: 100;
        padding: .5rem;
        background-color: white;
        left: 0;
    }

    .contenido{
        margin-bottom: 0px;
    }

    .contenido__mas-informacion--texto{
        width: 100%;
    }

    .sidebar{
        width: 100%;
        margin: 0;
    }

    .contenido__mas-informacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .contenido__p--fuente{
        width: 100%;
    }

    .producto{
        margin: 0;
    }

    .contenido__mas-informacion--texto .titulo2{
        text-indent: 0px;
    }
}

@media screen and (min-width: 1209px){
    .widget-productos .producto-caja{
        column-gap: 100px;
    }
}

@media screen and (min-width: 1409px){
    .widget-productos .producto-caja{
        justify-content: flex-start;
        column-gap: 60px;
    }

    .producto__img{
        /* width: 160px; */
        height: 200px;
    }
}

@media screen and (min-width: 1680px){
    .widget-productos .producto-caja{
        column-gap: 80px;
    }
}