@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
/*  Estilo de las letras usadas*/

.header__a--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight:  500;
    font-size: 14px;
    /* FIXME: Verificar este boton*/
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 34px;
}

.contenido__h2--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight:  bold;
    font-size: 30px;
}

.contenido__p--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}

.widget__h2--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.producto-nombre--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.producto-precio{
    color: #FF4E00;
    font-weight: bold;
    display: block;
    padding: 5px;
}

.caja__h2--fuente{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
}

.caja--parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEDED;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

.contenedor {
    width: 100%;
    max-width: 90%;
    margin: 30px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:    "header    header    header"
                            "contenido contenido contenido"
                            "footer    footer    footer";
}

header {
    color: black;
    grid-area: header;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__lista{
    list-style: none;
    letter-spacing: -0.5;
    display: flex;
    align-items: center;
}

.menu__lista li{
    display: block;
    padding-left: 10px;
    text-align: center;
    line-height: 34px;
}

.contenido{
    grid-area: contenido;
    margin-bottom: 50px;
}

.contenido__mas-informacion{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.contenido__mas-informacion--texto{
    width: 60%;
    text-align: center;
}

.contenido__mas-informacion--texto .titulo1{
    margin: 0px;
}

.contenido__mas-informacion--texto .titulo2{
    margin-bottom: 20px;
    text-indent: 40px;
}

.contenido__button{
    margin-top: 20px;
    text-align: center;
}

.contenido__button .button-info{
    padding: 0 10px;
    background-color: #4F3A3A;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer; 
    height: 35px;
    width: 150px;
    transition: .3s ease all;
}

.contenido__button .button-info:hover{
    background: rgba(133,71,71,1);
    color: whitesmoke;
}

.sidebar{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    width: 40%;
}

.widget-productos .producto-caja{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 80px;
    margin-bottom: 50px;
}

.producto{
    /* width: 200px; */
    /* height: 100px; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-align: center;
    padding: 30px;
    /* line-height: 0; */
    /* overflow: hidden; */
    /* margin-bottom: 50px; */
    margin-right: 20px;
}

.producto__img{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 160px;
    height: 200px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
    aspect-ratio: 0.5;
}

.input-agregar{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #333;
    padding: 5px;
    transition: .3s ease all;
}

.input-agregar:hover{
    background-color: #FF4E00;
    color: #fff;
}


/* TODO: AQUI VAMOS A ESCRIBIR ALGO DE CODIGO*/
.widget-beneficios{
    padding: 20px;
}

.widget-beneficios .widget-caja{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.caja{
    width: 250px;
    height: 120px;
    text-align: center;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.footer{
    grid-area: footer;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.footer .footer_logo{
    display: flex;
    justify-content: center;
}

.footer .footer_logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px;
}

.footer .footer_logo a i{
    margin-right: 5px;
}

/* Iconos */
.fa-dollar-sign{
    color: green;
    font-size: 20px;
}

.fa-credit-card{
    color: black;
    font-size: 20px;
}

.fa-shipping-fast{
    color: blue;
    font-size: 20px;
}

.fa-facebook{
    color: blue;
    font-size: 30px;
}

.fa-twitter{
    color: #1ca6d6;
    font-size: 30px;
}

.fa-instagram{
    color: #ae31a4;
    font-size: 30px;
}

.fa-shopping-cart{
    color: black;
    font-size: 20px;
}